

  
  <h1 style="padding: 50px;">Angular First App</h1>

  <input type="text" [(ngModel)] = "name">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input value="{{name}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr>
  <br>
 

  <app-servers></app-servers>
  <!-- <app-server></app-server> -->
